* {
    box-sizing: border-box;
}

body {
    font-family: 'Futura', Arial, sans-serif;
    background: linear-gradient(0deg,rgba(5, 3, 23, 0.6),rgba(9, 5, 37, 0.6)),url(img/crashback.png);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: #cec5c5;
    overflow-y: inherit;


}



{
    background: #333680;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #262626, #333680);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #262626, #3a763a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #262626, #3a763a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #262626, #3a763a;
    );
    /* Standard syntax */
}


/*  Menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    list-style: none;
    padding: 10px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    z-index: 100;
}

.menu li {
    display: inline-block;
    margin-left: 110px;
}

.menu li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
}

/*  Section 1 */

.content {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 900px;
    min-height: 800px;
    float: right;
    overflow: inherit;
    z-index: 1;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
}




.title {
    width: 50%;
    padding-top: 50px;
    margin-left: 250px;
}

.crash {
    float: right;
    padding-top: 270px;
    width: 300px;
    height: auto;
    z-index: 2,
}

.review {
    margin-top: -80px;
    width: 50%;
    float: right;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.2px;
    word-spacing: 0.1px;
    padding: 30px;
}

.review, .crash, .title {
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
/*  FOOTER  */

#copyright {
    width: 100%;
    text-align: center;
    background-color: black;
    z-index: 10;
}

/*  For mindre skjermen (mobil osv) */
@media screen and (max-width:500px) {
}